FORMAT: 1A
HOST: http://taskrpgapi.mattc.tw

# TaskRPG

This TaskRPG private APIs.

#Const
## Task Type
>
0
>
1 
>
2 
>
3 
>
4 

## Task Status
>
0 available
>
1 finished
>
2 accept
>
3 doing
>
4 abandon

##Error States
>
0
>
1 
>
2 
>
3 
>
4

##Response Code
>
200 ok
>
201 Created
>
202 Accepted
>
204 No-Content
>
301 ???
>
400 Bad Request
>
401 Unauthorized
>
403 Forbidden
>
404 Not Found
>
500 Internal Server Error
>
502 Bad Gateway
>
503 Service Unavailable

## Time format ISO 8601
yyyy-MM-ddTHH:mm:ssZ

## Login [/oauth/token]

### Login with FB [POST]

+ Request (application/x-www-form-urlencoded)

        { 
            "grant_type": "password",
            "username": "855726924439531",
            "password": "<FB_ACCESS_TOKEN>"
        }
        
+ Response 200 (application/json)

        {
          "token_type": "bearer",
          "access_token": "1369edf055794acd6843752dc48892141922ace2",
          "expires_in": 3600
        }
## Tasks Collection [/api/tasks?index=0&size=20&count=false]

### List All Tasks [GET]

+ Request
    + Headers
    
            Authorization: Bearer <$TASKRPG_ACCESS_TOKEN>

+ Response 200 (application/json; charset=utf-8)

        [
            {
                "_id": "57092fb47dd83921571457c5",
                "title": "PY first task",
                "type": 0,
                "desc": "To get task RPG done. 123123",
                "status": 0,
                "award": 0,
                "userId": "5706615f5349604a208cd254",
                "__v": 0,
                "subtask": [
                  {
                    "title": "Login API",
                    "_id": "57092fb47dd83921571457c7"
                  },
                  {
                    "title": "Tasks API",
                    "_id": "57092fb47dd83921571457c6"
                  }
                ],
                "creator": {
                  "id": "5706615f5349604a208cd254",
                  "name": "PY Chiu"
                }
            }
        ]

### Create a New Task [POST]

+ Request (application/json)

        {
            "title": "PY first task",
            "desc": "To get task RPG done. 123123",
            "subtask": [
                {
                    "title": "Login API"
                },
                {
                    "title": "Tasks API"
                }
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /task/2

    + Body

            {
                "__v": 0,
                "title": "PY first task",
                  "type": 0,
                  "desc": "To get task RPG done. 123123",
                  "status": 0,
                  "award": 0,
                  "userId": "5706615f5349604a208cd254",
                  "_id": "570930507dd83921571457c8",
                  "subtask": [
                    {
                      "title": "Login API",
                      "_id": "570930507dd83921571457ca"
                    },
                    {
                      "title": "Tasks API",
                      "_id": "570930507dd83921571457c9"
                    }
                  ],
                  "creator": {
                    "id": "5706615f5349604a208cd254",
                    "name": "PY Chiu"
                  }
            }

## Tasks Collection [/tasks/1]

### Update Task [PUT]

+ Request (application/json)

        {
            "title": "PY first task",
            "desc": "To get task RPG done. lalala",
            "subtask": [
                {
                    "title": "Login API"
                },
                {
                    "title": "Tasks API"
                }
            ]
        }

+ Response 200 (application/json)

        {
          "_id": "57092fb47dd83921571457c5",
          "title": "PY first task",
          "type": 0,
          "desc": "To get task RPG done. lalala",
          "status": 0,
          "award": 0,
          "userId": "5706615f5349604a208cd254",
          "__v": 0,
          "subtask": [
            {
              "title": "Login API",
              "_id": "570930f87dd83921571457cc"
            },
            {
              "title": "Tasks API",
              "_id": "570930f87dd83921571457cb"
            }
          ],
          "creator": {
            "id": "5706615f5349604a208cd254",
            "name": "PY Chiu"
          }
        }
        
### Delete Task [DELETE]

+ Request (application/json)

+ Response 204 (application/json)